<!-- 公用头 START-->
<div class="box header">
    <!-- menu -->
    <div class="h-box">
        <div class="box logo">
            <!--<img src="${LOCAL_PATH}/bbs_logo.png" alt="">-->
            <h1>中医住院医师规范化培训管理云平台</h1>
        </div>
        <div class="flex-box header-menu">
            <div>
                <div class="switch" c-widget="button; icon:sidebar;"></div>
                <div class="user-info">
                    <div class="current-user">
                        <a href="javascript:;">
                            <img src="${LOCAL_PATH}/test-user-icon.png" alt="">
                        </a>
                        <div c-widget="menuButton; caption:汤姆; icon:dropdown;" >
                            <div c-widget="Menu"><a class="item">Google</a><a class="item">Bing</a><a class="item">BaiDu</a><a class="item">SouGou</a>
                            </div>
                        </div>
                    </div>
                    <div class="user-online">
                        <a href="javascript:;">
                            <i class="alarm outline icon"></i>
                            <span  class="icon-message">9</span>
                        </a>
                    </div>
                    <div class="logout">
                        <div c-widget="button; icon:setting;"></div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
<!-- 公用头 END-->