<!-- 公用样式和js START-->
<link rel="stylesheet" type="text/css" href="${LOCAL_PATH}/semantic.min.css">
<link rel="stylesheet" type="text/css" href="${LOCAL_PATH}/cola.min.css">
<link rel="stylesheet" type="text/css" href="${LOCAL_PATH}/bbs-cola-base.css">
<script type="text/javascript" src="${LOCAL_PATH}/jquery-1.8.3.min.js"></script>
<script src="${LOCAL_PATH}/3rd.min.js"></script>
<script src="${LOCAL_PATH}/semantic.min.js"></script>
<script src="${LOCAL_PATH}/cola.js"></script>
<!--公用方法js-->
<script src="${LOCAL_PATH}/auth-common-util.js"></script>
<script src="${LOCAL_PATH}/auth_menu_tree.js"></script>

<script type="text/javascript">
    //静态地址根路径
    var STATIC_PATH = "${PATH}";
    //应用根路径
    var CONTEXT_PATH = "${ctx}";

    var LOCAL_PATH = "${LOCAL_PATH}";

</script>
<!-- 公用样式和js END-->